/*
Theme Name:     twentytwelve_child
Theme URI:      http://example.com/
Description:    Thème enfant pour le thème Twenty Twelve
Author:         Alexandre reculé
Author URI:     http://example.com/about/
Template:       twentytwelve                           
Version:        0.1.0
*/

@import url("../twentytwelve/style.css");

body
{
	background: url("images/fond4.png") no-repeat center fixed; 
	font: .8em Arial, Sans-Serif; 
	line-height: 1.8em; 
	color: #444; 
	margin:0;
	padding:0; 
	background-size: cover; /* version standardisée */
}

h1 {
    font-size: 75px;
    font-weight: 100;
    letter-spacing: -1px;
    font-family: 'Titre';
}

/*------------- POLICE -------------------------------*/
/* H1 */
@font-face
{
font-family: 'Titre';
src: url('font/Invitation_Script.ttf');
}

/* H2 */
@font-face
{
font-family: 'lettre';
src: url('font/lettre.ttf');
}

/* H3 */
@font-face
{
font-family: 'CACCHAMP';
src: url('font/CACCHAMP.ttf');
}

/*H4 */
@font-face
{
font-family: 'promocyja';
src: url('font/promocyja.otf');
}

@font-face
{
font-family: 'exmouth';
src: url('font/exmouth_.ttf');
}

@font-face
{
font-family: 'dragon';
src: url('font/Dragon is coming.otf');
}

@font-face
{
font-family: 'menu';
src: url('font/Champignon.otf');
}

/**************************************************/
/*--------------- PAGE -------------------------------*/
#page{
	width: 807px;
	overflow: visible;
	padding: 0;
	background: none;
	box-shadow: none;
}

#main{
	background: white;
}

/*--------------- MENU -------------------------------*/
#site-navigation {
	margin: 35px 0 20px -305px;
	left: 0;
	top: 50px;
    width: 180px; 
    background: url("images/menu_mini.png") no-repeat center center; 
    width: 305px;
    height: 450px;
    text-align: center;
}

#site-navigation .nav-menu ul{
	margin: 0; 
	text-align: center;
    border-top: none;
    border-bottom: none;
}

.main-navigation ul.nav-menu, .main-navigation div.nav-menu > ul{
    border: none;
}
#site-navigation .nav-menu a{
	font: 1.9em/1em 'promocyja';
	text-transform: none;
    font-weight: normal;
    letter-spacing: -2px;
    color: black;
}

#site-navigation .nav-menu li{
	width: 100%;
    text-align: center;
    border: none;
}

.menu-toggle{
	display: block;
	font: bold 2.9em/1.0em'CACCHAMP';
	background: none;
	border: none;
	padding-top: 95px;
	padding-bottom: 0;
	box-shadow: none;
    color: black;
}
.menu-toggle:hover{
	background: none;
	border: none;
}

.menu-toggle:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
article.post-password-required input[type=submit]:hover {
    background: none;
    background-image: none;
    box-shadow: none;
    border: none;
    color: black;
}

.menu-toggle:active,
.menu-toggle.toggled-on,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
    background: none;
    background-image: none;
    box-shadow: none;
    border: none;
}

/****************************************************************************
******************************** WRAP **************************************
****************************************************************************/
.entry-title{
    display: none;
}

.entry-header{
    margin-bottom: 0px;
}
.entry-content h1, .comment-content h1{
    font-size: 75px;
}

.entry-content { 
    position: relative;
    margin-bottom: 10px; 
    float: right;
    margin-top: 10px;
    width: 100%;
}

#right h2{
    font: bold 3.9em/1.0em'CACCHAMP';
}

#contenu{
    text-align: justify;
    position: relative;
    float: left;
    width: 96%;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Lucida Caligraphy', 'Monotype Corsiva', cursive;
    font-size: 1.4em;
    font-style:normal;
    font-weight:normal;
}

#contenu2{
    text-align: justify;
    position: relative;
    float: left;
    width: 96%;
    font-family: 'Lucida Caligraphy', 'Monotype Corsiva', cursive;
    font-size: 1.4em;
    font-style:normal;
    font-weight:normal;
    color: black;
    padding-left: 10px;
}

div.articles{
    position: relative;
    float: left;
    width: 100%;
    margin: 0 auto;
}

#partenaires{
    float: right;
    position: relative;
    width: 180px;
    height: 350px;
    border: 3px solid #CCCCCC;
    background: url(images/dr_spiller.png) no-repeat;
}

#partenaires2{
    float: right;
    position: relative;
    width: 180px;
    height: 350px;
    border: 3px solid #CCCCCC;
    background: url(images/morjana.png) no-repeat;
}

/****************************************************************************
******************************** TABLEAUX DE TARIFS *************************
*****************************************f***********************************/
#tableau_prix{
    background: url(images/tableau.png) no-repeat;
    background-position: 0px 8px;
    height: 360px;
    position: relative;
    padding: 0 10px 10px 10px;
    /*margin-top: 375px;*/
    width: 725px;
    left: 20px;
    float: left;
    top: 20px;
}

#tableau_prix2{
    background: url(images/tableau2.png) no-repeat;
    background-position: 0px -18px;
    height: 245px;
    position: relative;
    padding: 0 10px 25px 10px;
    width: 725px;
    left: 20px;
    float: left;
    top: 10px;
}

#tableau_prix3{
    background: url(images/tableau3.png) no-repeat;
    background-position: 0px -13px;
    height: 440px;
    position: relative;
    padding: 0 10px 40px 0px;
    /*margin-top: 375px;*/
    width: 745px;
    left: 20px;
    float: left;
    top: 20px;
}

.tarifs table {
    width: 85%; 
    border-collapse:collapse; 
    position:absolute; 
    margin: 50px 45px;
}

.tarifs table tr{
    font: 1.9em/1.0em'CACCHAMP';
    letter-spacing: 1px;
}

.tarifs td {
    border-bottom: 1px dotted #2D140B;
    line-height: 26px;
}

td#prix {
    color: #E5A728;
    font-weight: bold;
    text-align: center;
    width: 100px;
}

/********************* HEADER *********************/
#masthead{
	background: url(images/banniere6.png) no-repeat center center;
    display: block;
    height: 280px;
    margin: 0 auto;
    padding: 10px 10px 3px;
    position: relative;
    width: 790px;
}

#masthead h1{
	padding: 85px 0 5px 320px;
}
#masthead > h1 a {
	color: black;
	text-decoration: none;
	font-size: 3em;
	line-height: 1px;
}
#masthead h1 a:hover {
	color: #000;
	text-decoration: none;
}

.baseline {
	margin-top: 10px;
}

#masthead h2, #masthead span {
	font-family: 'Titre';
	color: black;
	font-size: 25px;
	letter-spacing: 3px;
	font-weight: bold;
}

#masthead h2 {
	padding: 10px 0 0 310px;
	line-height: 12px;
    margin-top: -30px;
}

#masthead span {
	float: right;
	margin: 25px 175px;
}

#logo{
	position: absolute;
    top: 40px;
    left: 220px;
    background: url(images/logo.png) no-repeat;
    width: 135px;
    height: 203px;
}

/*************Split d'image****************/
#split_visage{
    background: url(images/Split_visage.png) no-repeat;
    width: 660px;
    height: 230px;
    margin: 0 auto;
}

#split_corps{
    background: url(images/split_corps.png) no-repeat;
    width: 660px;
    height: 230px;
    margin: 0 auto;
}

#split_maquillage{
    background: url(images/split_maquillage.png) no-repeat;
    width: 660px;
    height: 230px;
    margin: 0 auto;
}

#split_manucure{
    background: url(images/split_manucure.png) no-repeat;
    width: 660px;
    height: 230px;
    margin: 0 auto;
}

#split_epilation{
    background: url(images/split_epilation.png) no-repeat;
    width: 660px;
    height: 230px;
    margin: 0 auto;
}
.entry-content table{
    border-bottom: none;
}
/****************************************************************************
******************************** FOOTER *************************************
****************************************************************************/
#colophon { 
    background: url(images/footer.png) repeat-x center transparent;
    font-size: 11px; 
    text-align: center; 
    width: 975px;
    margin: 0 auto;
    position: relative;
    height: 375px;
	right: 82px;
	top: -30px;
    color: black;
    border: none;
}

#footer1, #footer2, #footer3, #footer4 {
    float: left;
    width: 210px;
    top: 90px;
    left: 150px;
    float: left;
    width: 175px;
    position: relative;
}
#colophon h2 {
    font-variant: small-caps;
    margin: 0;
    padding: 0;
    font: 1.9em 'CACCHAMP';
}

#colophon h2 span {
    text-shadow: 4px 4px 2px yellow; /*#332C2C*/
    color: red;
    font-weight: bold;
    font: 1.9em/0.8em 'lettre' !important;
}

#footer2, #footer3, #footer4 {
    border-left: 1px solid grey;
    min-height: 200px;
}

.global-nav {
    clear: left;
    float: left;
    font-family: serif,Arial;
    font-size: 1.8em;
    font-style: normal;
    font-weight: normal;
    height: 150px;
    line-height: 0.8em;
    padding: 0;
    position: relative;
    width: 180px;
    font: 2.6em 'CACCHAMP';
}

/*
first-child()
last
 */
.global-nav:nth-child(1) {
	margin-left: -10px;
}

.global-nav.one {
	margin-left: -10px;
}
.global-nav ul li {
    display: inline;
}

/*
.global-nav li a{
    padding-left: 30px;
    padding-right: 30px;
}*/

/*.global-nav li a, .global-nav li a:visited {
    display: block;
   /* height: 100%;*/
   /* margin: 0;
    padding: 3px 0 0 0px;
    text-decoration: none;
    width: 100%;
}*/
/*.global-nav li a:hover, div.tutowe a:hover {
    color: #08D8FF;
}*/

.global-nav span{
    font-size: 0.6em;
    font-weight: normal;
    line-height: 1.8em;
    text-transform: lowercase;
}

.global-nav li{
    display: block;
    float: left;
    overflow: hidden;
    text-align: left;
    width: 190px;
    margin-left: 0;
    top: 40px;
    width: 195px;
    display: block;
    font-size: 0.8em;
    height: 23px;
}

.global-nav li a {
    color: #000000;
    /*font-size: 0.8em;*/
    padding-left: 10px;
    padding-top: 5px;
    text-decoration: initial;
}
.global-nav li a:hover {
    color: #303030;
}
/*.global-nav li:hover > .sub-nav li {
    display: inline;
}*/

#auteur{
    float: left;
    margin: 99px auto;
    width: 100%;
    font-family: 'Lucida Caligraphy', 'Monotype Corsiva', cursive;
    font-size: 1.2em;
}

#footer4 ul.partage li a{
    display: block;
    margin: 0 auto;
    width: 60px;
    color: #FEFEFE;
}

.partage{
    clear: left;
    float: left;
    font-family: serif,Arial;
    font-size: 1.8em;
    font-style: normal;
    font-weight: normal;
   /* height: 150px;*/
    padding: 0;
    position: relative;
    width: 180px;
}
.partage li a {
    background-image: url("images/social.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 50px;
}

.partage li a span{
    background: url("images/social.png") no-repeat;
    background-position: 0 0;
    display: block;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.partage li a span:hover {
    opacity: 1;
}
.partage li a.facebook {
    background-position: 0px 0px;
    
}
.partage li a.facebook span {
    background-position: 0px -53px;
}
.partage li a.twitter {
    background-position: -120px 0px;
    
}
.partage li a.twitter span {
    background-position: -120px -53px;
}
.partage li a.instagram {
    background-position: -60px 0px;
    
}
.partage li a.instagram span {
    background-position: -60px -53px;
}

/*********************************/
.tutowe {
    float: right;
    font-size: 1.6em;
    position: relative;
    right: 28px;
    text-align: center;
    top: -81px;
    width: 264px;
}
div.tutowe a {
    color: #818181;
    font-family: serif,Arial;
    text-decoration: none;
}

div.tutowe img {
    padding-top: 0.2em;
    vertical-align: baseline;
}

.liens_sociaux {
    border-bottom: 1px dashed #B8B8B8;
    border-top: 1px dashed #B8B8B8;
    clear: right;
    color: #818181;
    float: right;
    font-family: serif,Arial;
    font-size: 1.35em;
    margin-bottom: -54px;
    padding-bottom: 12px;
    padding-top: 12px;
    position: relative;
    right: 28px;
    text-align: center;
    top: -114px;
    width: 260px;
}

div.liens_sociaux a {
    border-style: none;
}

.pub {
    clear: right;
    padding-bottom: 15px;
    padding-top: 2px;
    text-align: center;
}
.formations_WE {
    border-top: 1px dashed #B8B8B8;
    clear: right;
    color: #818181;
    float: right;
    font-family: serif;
    font-size: 14px;
    margin-bottom: -54px;
    position: relative;
    right: 28px;
    top: -127px;
    width: 260px;
}

#plan {
    height: 50px;
}


/****************************************************************************
******************************** CONTACTS ***********************************
****************************************************************************/
#right h1 {
    text-align: center;
    font-size: 8.5em;
    line-height: 20px;
}
.page5-row1 
{
    padding:50px 0px 0 30px; 
    overflow:hidden;
}

.page5-row1 p{
    font-family: 'Lucida Caligraphy', 'Monotype Corsiva', cursive;
    float: left;
    margin-top: 25px;
    font-size: 1.3em;
}
.page5-col-1 
{
    overflow:hidden; 
    width:350px; 
    float:left; 
    padding:0px 18px 0 0;
    font-family: 'Lucida Caligraphy', 'Monotype Corsiva', cursive;
    height: 255px;
    /*font-size: 1.5em;*/
}

.page5-col-2 
{
    overflow:hidden; 
    width:575px; 
    float:left; 
    padding: 0 0 0 85px;
    font-family: 'Lucida Caligraphy', 'Monotype Corsiva', cursive;
}

.clr-1 
{ 
    color:#b92103;
}

.page5-col-1 h2 
{ 
    /*line-height:46px; */
    color:#92abb5; 
    /*font-weight:300; */
    /*font-family: 'Muli', sans-serif; */
    letter-spacing:-2px; 
    border-bottom:#c4d2d7 1px solid; 
    margin-left:22px;
    margin-bottom:22px;
    /*margin-bottom:22px;*/
}

.page5-col-2 h2 
{ 
    /*line-height:46px; */
    color:#92abb5; 
    /*font-weight:300;*/ 
    /*font-family: 'Muli', sans-serif; */
    letter-spacing:-2px; 
    border-bottom:#c4d2d7 1px solid; 
   /* margin-bottom:22px;*/s
}

#enveloppe{
    background: url(images/envelope.png);
    width: 585px;
    height: 322px;
}

fieldset{
    width: 500px;
    height: 322px;
}


#page5-col-1 table {
    margin-left: 10px;

}
.page5-col-1 table tr {
    font-size: 1.3em;
    line-height: 25px;
}

#adresse{
    margin-left: 50px;
    border-bottom: none;
}

#horaires{
    margin-left: 45px;
    width: 280px;
    border-bottom: none;
}

#horaires td{
    border-bottom: 1px dotted #2D140B;  
}
#heures{
    width: 90px;
}

.border-right 
{
    border-right:#c4d2d7 1px solid;
}

.link 
{
    color:#94adb7; 
    text-decoration:underline; 
}

.link-2 
{ 
    font-family: 'Muli', sans-serif; 
    font-size:12px; 
    line-height:18px; 
    text-transform:uppercase; 
    color:#95aeb8; 
    text-decoration:underline; 
    display:inline-block;
}
.link-2:hover 
{
    color:#4d4d4d; 
    text-decoration:underline;
}

/**********************form**********************/
#contact
{ 
    margin: 27px 0px 0px 25px; 
    width:575px; 
    padding-top: 60px;
}
#contact li{
    float: left;
    height: 25px;
    margin:0 0 10px;
    position: relative;
    width: 450px;
}

#contact li .text{
    position: absolute;
    text-align:right; 
    display:block; 
    padding-top:5px; 
    line-height:15px; 
    width:80px; 
    font-weight:normal; 
    white-space:nowrap;
    font-size: 1.5em; 
    margin-right:7px; 
}

#contact li .required{
    position:absolute;
    padding-left: 85px;
}

#contact li .wpcf7-form-control-wrap{
    position: absolute;
}

#contact li .wpcf7-form-control-wrap input, #contact li .wpcf7-form-control-wrap textarea{
    border:#c0cdd3 1px solid; 
    background:#d9e1e4; 
    font-size:12px; 
    font-family: Tahoma, Geneva, sans-serif; 
    color:#4d4d4d; 
    padding:4px 10px 6px 10px;
    outline: medium none;
    width: 275px; 
    height:15px; 
    margin-left: 105px;
}

.wpcf7-form-control-wrap textarea{
    overflow: auto; 
    resize:none;
    margin:0px 0 0 0;
    float:left;
    height: 85px !important;
}

.btns input{
    font-family: 'Muli', sans-serif; 
    font-size:12px; 
    line-height:18px; 
    text-transform:uppercase; 
    color:#95aeb8; 
    text-decoration:underline; 
    display:inline-block;
    background: none;
    border: none;
    box-shadow: none;
}

.btns 
{
    text-align:right; 
    overflow:hidden; 
    width:533px;
    top: 65px;
    position: relative;

}
.btns a 
{
    display:inline-block; 
    margin:7px 0px 0 25px;
}


.entry-content td, .comment-content td {
    border: none;
    padding: 0;
}

.entry-content ol, .comment-content ol, .entry-content ul, .comment-content ul, .mu_register ul{
    margin: 0;
    list-style-type: none;
    margin-left: 140px;
}

.entry-content li{
    margin: 0;
}

span.wpcf7-form-control-wrap {
    width: 50px;
}



div.wpcf7-validation-errors{
    width: 400px;
    margin: 35px 0 0 0;
    font-size: 1.3em;
    color: red;
    border: none;
}

span.wpcf7-not-valid-tip{
    width: 300px;
    font-size: 1.3em;
}
/****************************************************************************
******************************** TEST LIENS SOCIAUX ******************************
****************************************************************************/
.contact-links ul{
    display: inline-block;
    margin: 25px 115px 10px;
}
.contact-links li {
    float: left;
    margin-right: 24px;
}
.contact-links li.last {
    margin: 0;
}
.contact-links li a {
    background-image: url("images/sprite.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 19px;
}
.contact-links li a span {
    background-image: url("images/sprite.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.contact-links li a span:hover {
    opacity: 1;
}

.contact-links li a.twitter {
    background-position: -82px -359px;
    width: 17px;
}
.contact-links li a.twitter span {
    background-position: -82px -387px;
}
.contact-links li a.facebook {
    background-position: -109px -359px;
    width: 9px;
}
.contact-links li a.facebook span {
    background-position: -109px -387px;
}
.contact-links li a.instagram {
    background-position: -127px -359px;
    width: 17px;
}
.contact-links li a.instagram span {
    background-position: -127px -387px;
}

















